<a href="https://colab.research.google.com/github/saurabhkirar/EPAI01/blob/main/Session5/Session5A/Session5A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
vals = ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'jack', 'queen', 'king', 'ace']
suits = ['spades', 'clubs', 'hearts', 'diamonds']
royals=['jack', 'queen', 'king', 'ace']

In [ ]:
'''This is an assignment for session5.'''
'''The below are the list defined which would be used during the course of the assignments'''
vals = ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'jack', 'queen', 'king', 'ace']
suits = ['spades', 'clubs', 'hearts', 'diamonds']
royals=['jack', 'queen', 'king', 'ace']

In [ ]:
"""
Write a single expression that includes lambda, zip and map functions to select create 52 cards in a deck 
"""
my_func=lambda x,y: (x*13,y*4)
l1,l2=my_func(suits,vals)
cards_deck=list(map(lambda z:z,list(zip(l1,l2))))

In [ ]:
cards_deck

[('spades', '2'),
 ('clubs', '3'),
 ('hearts', '4'),
 ('diamonds', '5'),
 ('spades', '6'),
 ('clubs', '7'),
 ('hearts', '8'),
 ('diamonds', '9'),
 ('spades', '10'),
 ('clubs', 'jack'),
 ('hearts', 'queen'),
 ('diamonds', 'king'),
 ('spades', 'ace'),
 ('clubs', '2'),
 ('hearts', '3'),
 ('diamonds', '4'),
 ('spades', '5'),
 ('clubs', '6'),
 ('hearts', '7'),
 ('diamonds', '8'),
 ('spades', '9'),
 ('clubs', '10'),
 ('hearts', 'jack'),
 ('diamonds', 'queen'),
 ('spades', 'king'),
 ('clubs', 'ace'),
 ('hearts', '2'),
 ('diamonds', '3'),
 ('spades', '4'),
 ('clubs', '5'),
 ('hearts', '6'),
 ('diamonds', '7'),
 ('spades', '8'),
 ('clubs', '9'),
 ('hearts', '10'),
 ('diamonds', 'jack'),
 ('spades', 'queen'),
 ('clubs', 'king'),
 ('hearts', 'ace'),
 ('diamonds', '2'),
 ('spades', '3'),
 ('clubs', '4'),
 ('hearts', '5'),
 ('diamonds', '6'),
 ('spades', '7'),
 ('clubs', '8'),
 ('hearts', '9'),
 ('diamonds', '10'),
 ('spades', 'jack'),
 ('clubs', 'queen'),
 ('hearts', 'king'),
 ('diamonds', 'ace')]

In [ ]:
"""
Write a normal function without using lambda, zip, and map function to create 52 cards in a dec
"""
def func_create_cards(p_vals,p_suits):
  cards=[]
  for val in p_vals:
    for suits in p_suits:
      card=str(val)+' of '+suits
      cards.append(card)
  return cards

cards=func_create_cards(vals,suits)
print('lenght of crads',len(cards))
cards[0:53]

lenght of crads 52

['2 of spades',
 '2 of clubs',
 '2 of hearts',
 '2 of diamonds',
 '3 of spades',
 '3 of clubs',
 '3 of hearts',
 '3 of diamonds',
 '4 of spades',
 '4 of clubs',
 '4 of hearts',
 '4 of diamonds',
 '5 of spades',
 '5 of clubs',
 '5 of hearts',
 '5 of diamonds',
 '6 of spades',
 '6 of clubs',
 '6 of hearts',
 '6 of diamonds',
 '7 of spades',
 '7 of clubs',
 '7 of hearts',
 '7 of diamonds',
 '8 of spades',
 '8 of clubs',
 '8 of hearts',
 '8 of diamonds',
 '9 of spades',
 '9 of clubs',
 '9 of hearts',
 '9 of diamonds',
 '10 of spades',
 '10 of clubs',
 '10 of hearts',
 '10 of diamonds',
 'jack of spades',
 'jack of clubs',
 'jack of hearts',
 'jack of diamonds',
 'queen of spades',
 'queen of clubs',
 'queen of hearts',
 'queen of diamonds',
 'king of spades',
 'king of clubs',
 'king of hearts',
 'king of diamonds',
 'ace of spades',
 'ace of clubs',
 'ace of hearts',
 'ace of diamonds']

In [ ]:
'''
Write a function that, when given 2 sets of 3 or 4 or 5 cards (1 game can only have 3 cards with each player or 4 cards or 5 cards per player) 
(1 deck of cards only), (2 players only), can identify who won the game of poker
'''

'\nWrite a function that, when given 2 sets of 3 or 4 or 5 cards (1 game can only have 3 cards with each player or 4 cards or 5 cards per player) \n(1 deck of cards only), (2 players only), can identify who won the game of poker\n'

In [ ]:
'''Make a dictionary which can hold the combination and the rating(values of the dict) to be awarded.
This rating then can be compared per game for both the players and the lowest magnitude of the rating wins the game'
'''
combinations=['Royal Flush','Straight flush','Four of a kind','Full house','Flush','Straight','Three of a kind','Two pair','One pair','High card']
combs_range=range(1,len(combinations))
combs_dict=dict(zip(combinations,combs_range))
combs_dict

{'Flush': 5,
 'Four of a kind': 3,
 'Full house': 4,
 'One pair': 9,
 'Royal Flush': 1,
 'Straight': 6,
 'Straight flush': 2,
 'Three of a kind': 7,
 'Two pair': 8}

In [ ]:
'''Real game starts here'''

import random
card_choices=5
cards_to_be_pulled=card_choices*2
draw=random.sample(cards_deck,cards_to_be_pulled)
p1=draw[0:card_choices]
p2=draw[card_choices:cards_to_be_pulled]
print(p1)
print(p2)
#print(p1,p2)
#cards_deck[]

[('diamonds', '5'), ('clubs', '7'), ('clubs', '10'), ('spades', 'jack'), ('diamonds', '4')]
[('diamonds', '6'), ('spades', '5'), ('clubs', '9'), ('hearts', '5'), ('diamonds', '9')]

In [ ]:
for rec in p1:
  print(rec[0],rec[1])

diamonds 5
clubs 7
clubs 10
spades jack
diamonds 4

In [ ]:
p1,dict(p1)

([('diamonds', '5'),
  ('clubs', '7'),
  ('clubs', '10'),
  ('spades', 'jack'),
  ('diamonds', '4')],
 {'clubs': '10', 'diamonds': '4', 'spades': 'jack'})

In [ ]:
{(rec[0],rec[1])for rec in p1}

{('clubs', '10'),
 ('clubs', '7'),
 ('diamonds', '4'),
 ('diamonds', '5'),
 ('spades', 'jack')}

In [ ]:
colr_p1=[colr for colr,card in p1]
card_p1=[card for colr,card in p1]
col_p2=[colr for colr,card in p2]
card_p2=[card for colr,card in p2]
print(colr_p1,card_p1)

['diamonds', 'clubs', 'clubs', 'spades', 'diamonds'] ['5', '7', '10', 'jack', '4']

In [ ]:
is_all_royal(royals)

NameError: ignored

In [ ]:
def is_all_royal(p_cards):
  ''' This is a function which is defined to check if all royal cards are there
  funtion will return false if any given card is not royal'''
  royal=True
  for rec in p_cards:
    if rec not in royals:
     royal=False
  return royal

In [ ]:
def is_flush(p_cards,p_color):
  '''This function will check if the combination is a flush or not.
  function also checks if the flush is a royal flush or a normal flush'''
  if (len(set(p_color))==1) & (is_all_royal(p_cards)):
    res='Royal Flush'
  elif (len(set(p_color))==1) & (is_all_royal(p_cards)==False):
    res='flush'
  else:
    res='No flush'
  return(res)

In [ ]:
def is_staright((p_cards,p_color):
  '''This function will check if the cards are sequential or not i,e continous and incremented by 1'''

In [ ]:
lst=[1,2,3,4,5,6]

In [ ]:
lst=[1,2,3]

In [ ]:
l= lambda x,y:True if x+1==y else False

In [ ]:
from functools import reduce
reduce(l,lst)

False

In [ ]:
test_cols=['diamonds', 'diamonds', 'diamonds', 'diamonds', 'diamonds']
test_cards=['king', 'ace', 'queen', 'jack', 'ace']

In [ ]:
len(set(test_cols))

1

In [ ]:
is_flush(test_cards,test_cols)

1
True

'Royal Flush'

In [ ]:
lst=[1,1,1,1,1]

In [ ]:
is_flush(test_cards,lst)

1
True

'Royal Flush'

In [ ]:
lst=['blue','blue','black','black','blue']
import numpy as np
a,b=np.unique(lst,return_counts=True)
dict(zip(a,b))

{'black': 2, 'blue': 3}